---
import { getCollection, getEntryBySlug } from 'astro:content';
import { Avatar, ProgressRadial } from '@skeletonlabs/skeleton';
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';

export async function getStaticPaths() {
	const siteInitiatives = await getCollection('initiatives');
	return siteInitiatives.map(initiative => {
		const [lang, slug] = initiative.slug.split('/')
		if (slug) {

		return {
			params: { lang, slug: slug || undefined },
			props: { initiative }
		}
		} else {
			return false
		}
	});
}

// 1. Get the slug from the incoming server request
const { initiative } = Astro.props;
// 2. Query for the page directly using the request slug
const { Content } = await initiative?.render() ;
// console.log('<<<< INITIATIVES >>>>:',initiative.data)
const [lang, slug] = initiative.slug.split('/')

const partners = await getCollection('partners').then(partners => partners?.filter(p => p.slug === (initiative.data?.initiator[0].slug)))
// console.log('<<<< PARTNERS >>>>:', partners)
const project = await getEntryBySlug('projects', initiative.slug.split('/')[0] + '/' + initiative.data?.projects[0])
// console.log('<<<< PROJECT >>>>:', project)
const donaties = await getCollection('donations').then(donaties => donaties?.filter(d => d.data.initiative === initiative.slug.split('/')[1] ))
let totaalbedrag = 0

donaties.length && donaties?.forEach(d => {
	totaalbedrag = d.data.amount + totaalbedrag
})

let elements = {
	title: {
		el: undefined,
		intersecting: false
	},
	thumbnail: {
		el: undefined,
		intersecting: false
	},
	description: {
		el: undefined,
		intersecting: false
	},
	changed: {
		el: undefined,
		intersecting: false
	},
	nextInitiative: {
		el: undefined,
		intersecting: false
	}
}
// TODO: Functionalize translation
// TODO: Implement General Document Image after Read more
// TODO: Implement in other pages
---
<BaseLayout icon={initiative.data?.icon ? initiative.data?.icon : project?.data?.icon} pack={initiative.data?.pack ? initiative.data?.pack : project?.data?.pack} description={initiative.data?.description} title={project.data?.title} image={initiative.data?.image} imageAlt={initiative.data?.imageAlt}>
	<!-- Section Started Heading -->
	<div class="section section-inner started-heading">
		<div class="aspect-video bg-cover bg-center w-full h-full transition-all duration-100 flex justify-start items-end p-8 bg-black/80" style={"background-image: url('" +  initiative.data?.image + "');"}>
			<!-- titles -->
			<div class="portrait:hidden landscape:sm:hidden landscape:md:block h-titles card rounded-xl p-4 landscape:max-w-xl mix-blend-differnce backdrop-blur bg-white/75 dark:bg-black/70 ">
				{initiative?.data.subtitle &&
					<h3 class="text-red-600 unstyled drop-shadow text-lg font-bold" >{initiative?.data.subtitle}</h3>
				}
				<h2 class="marker text-primary-600 mb-4 unstyled drop-shadow landscape:text-xl landscape:xl:text-4xl portrait:text-2xl font-bold" >{initiative?.data.title}</h2>
				<p>{initiative?.slug.split('/')[1] === 'enyimbaaba-2024' ? 'Register as Talent or ' : '' } Support our Cause and donate to this Initiative.</p>
				{initiative?.slug.split('/')[1] === 'enyimbaaba-2024' ?
				<a href="#register" class="btn rounded-lg variant-outline-primary mt-4">Participant Registration</a> : ''}
				<a href="/en/donations" class="btn rounded-lg variant-filled-primary mt-4">Donate</a>
			</div>
		</div>
	</div>

	<section class="bg-cover bg-center w-full" style={"background-image: url('https://source.unsplash.com/random?" + ( initiative?.data.tags ? initiative.data.tags.join('%20') : "Stage%20performance") + "');"}>
		<div class="bg-white/90 dark:bg-black/75 p-8 landscape:pt-16">

			<div class="mx-auto flex portrait:flex-col gap-8">
				<div class="landscape:w-2/3 text-lg mb-8">
					{initiative?.data.subtitle &&
					<h3 class="text-red-600 unstyled drop-shadow text-md xl:text-lg font-bold" >{initiative?.data.subtitle}</h3>
					}
					<h2 class="marker text-primary-600 mb-8 unstyled drop-shadow landscape:text-4xl portrait:text-3xl font-bold" >{initiative?.data.title}</h2>
					<input id="read-more" type="checkbox" class="peer/read hidden" />
					<div class="overflow-hidden transition transition-height duration-300 landscape:h-[25vh] portrait:h-24 peer-checked/read:h-auto prose max-w-none prose-stone space-y-6 prose-table:table-auto prose-p:text-lg prose-p:text-primary-800-100-token prose-headings:text-primary-800-100-toke mb-4">
						<Content />
					</div>

					<label for="read-more" class="hidden peer-checked/read:block btn rounded-lg variant-filled-primary max-w-md mx-auto">Read less</label>
					<label for="read-more" class="block peer-checked/read:hidden btn rounded-lg variant-filled-primary max-w-md mx-auto">Read more</label>
					{initiative?.slug.split('/')[1] === 'enyimbaaba-2024' ?

					<Image class="mx-auto my-8" src="/uploads/initiatives/enyimba-aba-2024-talent-hunt.jpg" alt="Enyimba~Aba 2024 Talent Hunt" width={707} height={1000} />

					<h2 id="register" class="marker text-primary-600 my-8 unstyled drop-shadow landscape:text-4xl portrait:text-3xl font-bold" >Participant Registration Form</h2>

					<form netlify data-netlify="true" data-netlify-honeypot="field-of-expertise" name="enyimba-aba-2024" method="POST" class="card variant-outline-primary bg-white p-8 mx-auto grid landscape:grid-cols-2 gap-8">
						<div>
							<sup>*) fields marked with asterisk are required</sup>
							<h4 class="mb-5">Personal Details</h4>
							<div class="grid md:grid-cols-2 md:gap-6">
								<div class="relative z-0 w-full mb-5 group">
									<input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
									<label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name<sup>*</sup></label>
								</div>
								<div class="relative z-0 w-full mb-5 group">
									<input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
									<label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Surname<sup>*</sup></label>
								</div>
							</div>
							<p class="hidden">
								<label>
									What is your occupation: <input type="text" name="field-of-expertise" />
								</label>
							</p>
							<div class="relative z-0 w-full mb-5 group">
								<input type="text" name="floating_nationality" id="floating_nationality" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
								<label for="floating_nationality" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nationality<sup>*</sup></label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="text" name="floating_place_of_birth" id="floating_place_of_birth" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
								<label for="floating_place_of_birth" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Place of birth<sup>*</sup></label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="text" name="floating_country_state_hometown_of_origin" id="floating_country_state_hometown_of_origin" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_country_state_hometown_of_origin" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Country/State/Town of Origin<sup>*</sup></label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="date" name="floating_date_of_birth" id="floating_date_of_birth" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
								<label for="floating_date_of_birth" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Date of birth<sup>*</sup></label>
							</div>

							<h4 class="mt-10 mb-5">Adress & Contact Details</h4>
							<div class="relative z-0 w-full mb-5 group">
								<input type="text" name="floating_residential_address" id="floating_residential_address" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
								<label for="floating_residential_address" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Residential address<sup>*</sup></label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<!-- pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  (123-456-7890)-->
								<input type="tel" name="floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
								<label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone number<sup>*</sup></label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
								<label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address<sup>*</sup></label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="url" name="floating_website" id="floating_website" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_website" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Website</label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="url" name="floating_video_clip" id="floating_video_clip" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_video_clip" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Video clip link (or audio link)</label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<textarea rows="4" name="floating_video_clip" id="floating_video_clip" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_video_clip" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Social Media handles/links (list all)</label>
							</div>
						</div>
						<div>
							<h4 class="mt-10 mb-5">Artist information</h4>
							<div class="relative z-0 w-full mb-5 group">
								<input type="text" name="floating_artist_name" id="floating_artist_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
								<label for="floating_artist_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Artistic Name<sup>*</sup></label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="text" name="floating_genres" id="floating_genres" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
								<label for="floating_genres" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Active Music Genres<sup>*</sup></label>
							</div>
							<div class="relative z-0 w-full mt-5 mb-5 group">
								<input type="checkbox" name="floating_under_contract" id="floating_under_contract" class="block py-2.5 px-0 text-sm text-gray-900 bg-transparent border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_under_contract" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">I am under Contract</label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="text" name="floating_record_label" id="floating_record_label" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_record_label" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name of Record Label</label>
							</div>
							<div class="relative z-0 w-full mt-5 mb-5 group">
								<input type="checkbox" name="floating_production_studio" id="floating_production_studio" class="block py-2.5 px-0 text-sm text-gray-900 bg-transparent border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_production_studio" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">I use another Production Studio</label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="text" name="floating_production_studio" id="floating_production_studio" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_production_studio" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name of Producer</label>
							</div>

							<h4 class="mt-10">Manager Details</h4>
							<div class="grid md:grid-cols-2 md:gap-6">
								<div class="relative z-0 w-full mb-5 group">
									<input type="text" name="floating_first_name_manager" id="floating_first_name_manager" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
									<label for="floating_first_name_manager" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Managers name</label>
								</div>
								<div class="relative z-0 w-full mb-5 group">
									<input type="text" name="floating_last_name_manager" id="floating_last_name_manager" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
									<label for="floating_last_name_manager" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Managers Surname</label>
								</div>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<!-- pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  (123-456-7890)-->
								<input type="tel" name="floating_phone_manager" id="floating_phone_manager" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_phone_manager" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Managers Phone number</label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="email" name="floating_email_manager" id="floating_email_manager" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_email_manager" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Managers Email address</label>
							</div>
							<div class="relative z-0 w-full mb-5 group">
								<input type="text" name="floating_bank_details" id="floating_bank_details" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
								<label for="floating_bank_details" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Managers Bank Details</label>
							</div>
						<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
						</div>
					</form>
					: ''}
				</div>

				<div class="sidebar flex flex-col gap-4 landscape:w-1/3">

					<p class="-mb-3 font-black">{ lang == "en" ? "Images" : "Afbeeldingen"}</p>
					<div class="aspect-auto">
						<section class="flex flex-col gap-2">
							{initiative && initiative.data?.images?.map(image => (
							<img src={image} class="h-auto max-w-full object-cover rounded-sm" alt="Layout Image">
							))}
						</section>
					</div>

					<p class="-mb-3 font-black">{ lang == "en" ? "Initiator" : "Initiatiefnemer"}</p>
					{partners && partners?.map(initiator => (
						<div class="card variant-ghost-primary card-hover overflow-hidden w-full">
						<div class="listbox-item cursor-pointer -outline-offset-[3px] rounded-token px-4 py-2 variant-filled-primary " data-testid="listbox-item" role="option" aria-selected="true" tabindex="0">
							<div class="h-0 w-0 overflow-hidden">
								<input type="radio" name="people" value="[object Object]" tabindex="-1"></div>
								<div class="listbox-label flex items-center space-x-4"><div class="listbox-label-lead">
									<figure class="avatar flex aspect-square text-surface-50 font-semibold justify-center items-center overflow-hidden isolate bg-surface-400-500-token w-8  rounded-full   " data-testid="avatar"><img class="avatar-image w-full h-full object-cover" style="" src={initiator.data?.image} alt={initiator.data?.name + "'s Avatar"}></figure>
								</div>
								<div class="listbox-label-content flex-1 ">
									{initiator.data?.name} ({initiator.data?.type})
								</div>
							</div>
						</div>
					</div>
					))}

					<p class="font-black">{ lang == "en" ? "Donations" : "Donaties"}</p>
					<div class="card variant-ghost-primary card-hover overflow-hidden w-full">
						<header class="flex justify-center items-center gap-4 mt-4">
							<ProgressRadial stroke={120} value={totaalbedrag/initiative.data?.goal}>{totaalbedrag/initiative.data?.goal}%</ProgressRadial>
						</header>
						<div class="p-4 space-y-4">
							<h6 class="h6" data-toc-ignore="">€ {totaalbedrag},- { lang == "en" ? "collected" : "ingezameld"} <small>{ lang == "en" ? "of" : "van"} € {initiative.data?.goal},-</small></h6>
						</div>
						<hr class="opacity-50">
						<footer class="p-4 flex flex-col justify-start items-center space-x-4">
							<button type="button" class="btn variant-filled-primary w-full"><i class="fa-solid fa-skull"></i> <span>Doneer</span></button>
						</footer>
					</div>

					<div class="-mb-3 flex justify-between">
						<span class="-mb-3 font-black">Details</span>
						<small>{ lang == "en" ? "All Donations" : "Alle Donaties"} &raquo;</small>
					</div>
					<div class=" overflow-hidden w-full">
							<!-- Recent only -->
							{donaties && donaties?.map(donatie => (
							<div class="flex flex-col gap-2">
								<!-- <Avatar src="blob:null/2375537f-7ead-4f00-99a3-db0dad3973c7" width="w-full max-w-12" /> -->
								<div class="card variant-ghost-primary card-hover p-4 variant-soft rounded-tl-none space-y-2 w-full">
									<header class="flex justify-between items-center">
										<p class="font-bold">{donatie.data?.donator}</p>
										<p class="font-bold">€ {donatie.data?.amount},-</p>
									</header>
									<p>{donatie.data?.message}</p>
									<small class="opacity-50">{donatie.data?.date}</small>
								</div>
							</div>
							))}
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- Section Started Heading -->
	<div class="section section-inner started-heading">
		<div class="portrait:hidden aspect-video bg-cover bg-center w-full transition-all duration-100 flex flex-col justify-end" style={"background-image: url('" +  initiative.data?.image + "');"}>
			<!-- titles -->
			<div class="card rounded-xl h-titles flex flex-col justify-end p-8 portrait:p-4 m-auto landscape:max-w-xl backdrop-blur bg-white/75 dark:bg-black/75">
				{initiative?.data.subtitle &&
					<h3 class="text-red-600 unstyled drop-shadow text-lg font-bold" >{initiative?.data.subtitle}</h3>
				}
				<h2 class="marker text-primary-600 mb-4 unstyled drop-shadow landscape:text-4xl portrait:text-2xl font-bold" >{initiative?.data.title}</h2>
				<p>Support our Cause and donate to this Initiative.</p>
				<a href="/en/donations" class="btn rounded-lg variant-filled-primary mt-4">Donate</a>
			</div>
		</div>
		<!-- titles -->
		<div class="landscape:hidden card rounded-xl h-titles flex flex-col justify-end p-8 portrait:p-4 m-auto landscape:w-1/3 landscape:max-w-1/3 backdrop-blur bg-white/50 dark:bg-black/50">
			{initiative?.data.subtitle &&
				<h3 class="text-red-600 unstyled drop-shadow text-lg font-bold" >{initiative?.data.subtitle}</h3>
			}
			<h2 class="marker text-primary-600 mb-4 unstyled drop-shadow landscape:text-4xl portrait:text-2xl font-bold" >{initiative?.data.title}</h2>
			<p>Support our Cause and donate to this Initiative.</p>
			<a href="/en/donations" class="btn rounded-lg variant-filled-primary mt-4">Donate</a>
		</div>
	</div>
</BaseLayout>