---
import { getCollection, getEntryBySlug } from 'astro:content';

import BaseLayout from "../../layouts/BaseLayout.astro";

const sitePages = await getCollection('pages');

export async function getStaticPaths() {
	const sitePages = await getCollection('pages');
	return sitePages.map(page => {
		const [lang, slug] = page.slug.split('/')
		return {
			params: { lang, slug: slug || undefined },
			props: { page }
		}
	});
}

// 1. Get the slug from the incoming server request
const { page } = Astro.props;
// 2. Query for the page directly using the request slug
const { Content, headings } = await page?.render() ;

//console.log('Page entry', slug, page)

---
<BaseLayout icon={page.data?.icon} pack={page.data?.pack} description={page.data?.description} title={page.data?.title} image={page.data?.image} imageAlt={page.data?.imageAlt}>

	<!-- <div slot="sidebarLeftNavList">
		{sitePages && sitePages.map((page) => (
			<li><a href={"/" + page.slug}>{page.data.title}</a></li>
		))}
	</div> -->
		<section class="bg-cover bg-center w-full" style="background-image: url('https://source.unsplash.com/random?Stage%20performance');">
			<div class="bg-white/90 dark:bg-black/75 landscape:xl:p-28 p-4 landscape:pt-24">
				<div class="container mx-auto flex portrait:flex-col items-center">
					{headings.length > 2 &&
					<div class="landscape:w-1/4 pr-16 landscape:sticky landscape:top-24 landscape:self-start">
						<h3>Page Content</h3>
						<ul class="list">
						{headings && headings.map(heading => (
							<li><a href={"#" + heading.slug}>{heading.text}</a></li>
						))}
						</ul>
					</div>
					}

					<div class="landscape:w-2/4 text-lg space-y-6">
						<Content />
					</div>
					<div class="landscape:w-1/2 landscape:xl:w-1/4 pl-16 landscape:sticky landscape:top-24 landscape:self-start">
						<img src="https://source.unsplash.com/random?african%20popstar" class="h-72 w-3/4 object-cover rounded-xl" alt="Layout Image">
		  			</div>
				</div>
			</div>
		</section>

</BaseLayout>