---
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations, getLangFromId } from '~content/i18n/utils';
import { Icon } from 'astro-icon'
import LanguagePicker from '~components/ui/LanguagePicker.astro';
import BrandFlag from '~components/ui/BrandFlag.astro';

const pageList = await getCollection('pages');
const projectList = await getCollection('projects');
const initiativesList = await getCollection('initiatives');
const {direction = "vertical", size = "h-8 w-8 p-1"} = Astro.props
const directionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex items-center"
const parentDirectionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex-flex-col items-center"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<div class={parentDirectionClass + " bg-primary-600 w-full"}>
    <div class={"flex flex-row h-20 justify-evenly items-center bg-primary-600 w-full"}>
        <BrandFlag logoOnly={true} ></BrandFlag>
        <LanguagePicker />
    </div>

    <a href={"/" + lang + "/newscasts"} class="btn variant-filled-primary w-full rounded-none py-4">
        <span class={directionClass}>
            <Icon pack="ph" name="newspaper-clipping-bold" class={size} />
            <span>
                {t('nav.linkcasts')}
            </span>
        </span>
    </a>

    <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="about-artkids" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="about-artkids" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="codicon" name="organization" class={size} />
                    <span>
                        {t('nav.about')}
                    </span>
                </span>
            </label>

            <div class={parentDirectionClass + " bg-primary-600 w-full helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "about artkids").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + page.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="organization" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">

            <label for="organization" class={" btn variant-filled-primary w-full rounded-none py-4 helper-enable"}>
                <span class={directionClass}>
                    <Icon pack="octicon" name="organization-16" class={size} />
                    <span>
                        {t('nav.organization')}
                    </span>
                </span>
            </label>

            <div class={parentDirectionClass + " bg-primary-600 w-full helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "organization").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + page.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size + " mr-2"} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="anbi" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">

            <label for="anbi" class={" btn variant-filled-primary w-full rounded-none py-4 helper-enable"}>
                <span class={directionClass}>
                    <Icon pack="fluent" name="building-retail-money-20-regular" class={size} />
                    <span>
                        {t('nav.anbi')}
                    </span>
                </span>
            </label>

            <div class={parentDirectionClass + " bg-primary-600 w-full helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "anbi").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + page.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size + " mr-2"} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <!-- <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="funding" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="funding" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="la" name="donate" class={size} />
                    <span>
                        {t('nav.funding')}
                    </span>
                </span>
            </label>
            <div class={parentDirectionClass + " bg-primary-600 w-full" + " helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "funding").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + page.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size + " mr-2"} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div> -->

    <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="projects" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="projects" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="bytesize" name="portfolio" class={size} />
                    <span>
                        {t('nav.projects')}
                    </span>
                </span>
            </label>
            <div class={parentDirectionClass + " bg-primary-600 w-full" + " helper-show" }>
                {projectList && projectList.filter(project => getLangFromId(project) == lang).map(project => (
                    <a href={"/" + project.slug.split('/')[0] + "/projects/" + project.slug.split('/')[1]} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + project.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={project.data.pack || "teenyicons"} name={project.data.icon || "anchor-solid"} class={size + " mr-2"} />
                            { project.data?.shortTitle ?
                            <span>
                                {project.data.shortTitle}
                            </span>
                            :
                            <span>
                                {project.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="initiatives" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="initiatives" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="mdi" name="deal-outline" class={size} />
                    <span>
                        {t('nav.initiatives')}
                    </span>
                </span>
            </label>
            <div class={parentDirectionClass + " bg-primary-600 w-full" + " helper-show" }>
                {initiativesList && initiativesList.filter(initiative => getLangFromId(initiative) == lang).map(initiative => (
                    <a href={"/" + initiative.slug.split('/')[0] + "/initiatives/" + initiative.slug.split('/')[1]} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + initiative.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={initiative.data?.pack || "teenyicons"} name={initiative.data.icon || "anchor-solid"} class={size + " mr-2"} />
                            { initiative.data?.shortTitle ?
                            <span>
                                {initiative.data.shortTitle}
                            </span>
                            :
                            <span>
                                {initiative.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    {pageList && pageList.filter(page => page.data.status == "published" && !page.data.category && getLangFromId(page) == lang).map(page => (
        <a href={"/" + page.slug} class={"btn variant-filled-primary w-full rounded-none py-4 " + page.slug.split('/')[0]}>
            <span class={directionClass}>
                <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
                { page.data?.shortTitle ?
                <span>
                    {page.data.shortTitle}
                </span>
                :
                <span>
                    {page.data.title}
                </span>
                }
            </span>
        </a>
    ))}

    <a href="https://lastmessengers.tv/artists" target="_blank" class="btn variant-filled-primary w-full rounded-none py-4 en">
        <span class="flex flex-col items-center text-center">
            <figure class="image h-10 w-10 p-1">
                <img loading="lazy" width={48} height={48} class="drop-shadow-2xl" src="/images/red-black-purple-gold-with-sun.svg" alt="LastMessengers Home"/>
            </figure>

            <span>
                LMS Artists
            </span>
        </span>
    </a>
    <a href="https://lastmessengers.tv/artists" target="_blank" class="btn variant-filled-primary w-full rounded-none py-4 nl">
        <span class="flex flex-col items-center text-center">
            <figure class="image h-10 w-10 p-1">
                <img loading="lazy" width={48} height={48} class="drop-shadow-2xl" src="/images/red-black-purple-gold-with-sun.svg" alt="LastMessengers Artists"/>
            </figure>
            <span>
                LMS Artists
            </span>
        </span>
    </a>



    <a href="/en/events" class="btn variant-filled-primary w-full rounded-none py-4 en">
        <span class="flex flex-col items-center text-center">
            <svg viewBox="0 0 32 32" class="h-8 w-8 p-1" astro-icon="carbon:event"><path fill="currentColor" d="M28 6a2 2 0 0 0-2-2h-4V2h-2v2h-8V2h-2v2H6a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h4v-2H6V6h4v2h2V6h8v2h2V6h4v6h2z"></path><path fill="currentColor" d="m21 15 2.549 4.938 5.451.791-4 3.844L26 30l-5-2.562L16 30l1-5.427-4-3.844 5.6-.791L21 15z"></path></svg>
            <span>
                Events
            </span>
        </span>
    </a>
    <a href="/nl/events" class="btn variant-filled-primary w-full rounded-none py-4 nl">
        <span class="flex flex-col items-center text-center">
            <svg viewBox="0 0 32 32" class="h-8 w-8 p-1 mr-2" astro-icon="carbon:event"><path fill="currentColor" d="M28 6a2 2 0 0 0-2-2h-4V2h-2v2h-8V2h-2v2H6a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h4v-2H6V6h4v2h2V6h8v2h2V6h4v6h2z"></path><path fill="currentColor" d="m21 15 2.549 4.938 5.451.791-4 3.844L26 30l-5-2.562L16 30l1-5.427-4-3.844 5.6-.791L21 15z"></path></svg>
            <span>
                Evenementen
            </span>
        </span>
    </a>
</div>

<style lang="scss" is:global>
    html.nl a.en,
    html.en a.nl {
        display: none;
    }

    .helper-trigger,
    .helper-show {
        transition: all 0.25s ease-in-out;
        height: 0 !important;
        display: flex;
        overflow: hidden !important;

        & > a {
            transition: all 0.25s ease-in-out;
            transform: translateX(-100%) !important;
        }
    }
    .helper-trigger[type="radio"]:checked {
        & + .dropdown {
            & .helper-show {
                height: auto !important;

                & > a {
                    transform: translateX(0) !important;
                }
            }
            & .helper-enable {
                filter: saturate(1.25);
                filter: brightness(1.5);
            }
        }
    }
</style>
