---
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations } from '~content/i18n/utils';
import { Icon } from 'astro-icon'

const pageList = await getCollection('pages');
const projectList = await getCollection('projects');
const {direction = "vertical", size = "h-8 w-8 p-1"} = Astro.props
const directionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex items-center"
const parentDirectionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex-flex-col items-center"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

function getLangFromId(page) {
    return page.slug.split('/')[0]
}

---

<div class={parentDirectionClass + "bg-primary-600 w-full"}>

    <a href={"/" + lang + "/"} class="btn variant-filled-primary w-full rounded-none py-4">
        <span class={directionClass}>
            <Icon pack="ph" name="house-line-bold" class={size}/>
            <span>
                {t('nav.home')}
            </span>
        </span>
    </a>

    <a href={"/" + lang + "/newscasts"} class="btn variant-filled-primary w-full rounded-none py-4">
        <span class={directionClass}>
            <Icon pack="ph" name="newspaper-clipping-bold" class={size} />
            <span>
                {t('nav.newscasts')}
            </span>
        </span>
    </a>


    <div class={parentDirectionClass + "bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="organisation" class="helper-trigger hidden" />
        <div class="dropdown bg-primary-600 w-full">

            <label for="organisation" class={" btn variant-filled-primary w-full rounded-none py-4 helper-enable"}>
                <span class={directionClass}>
                    <Icon pack="octicon" name="organization-16" class={size} />
                    <span>
                        {t('nav.organisation')}
                    </span>
                </span>
            </label>

            <div class={parentDirectionClass + "bg-primary-600 w-full" + " helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "organisation").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none py-4 " + page.slug.split('/')[0]}>
                        <span class={directionClass}>
                            <Icon pack={page.data.iconFamily || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <div class={parentDirectionClass + "bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="about-artkids" class="helper-trigger hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="about-artkids" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="codicon" name="organization" class={size} />
                    <span>
                        {t('nav.about')}
                    </span>
                </span>
            </label>

            <div class={parentDirectionClass + "bg-primary-600 w-full" + " helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "about artkids").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none py-4 " + page.slug.split('/')[0]}>
                        <span class={directionClass}>
                            <Icon pack={page.data.iconFamily || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <div class={parentDirectionClass + "bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="funding" class="helper-trigger hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="funding" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="la" name="donate" class={size} />
                    <span>
                        {t('nav.funding')}
                    </span>
                </span>
            </label>
            <div class={parentDirectionClass + "bg-primary-600 w-full" + " helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "funding").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none py-4 " + page.slug.split('/')[0]}>
                        <span class={directionClass}>
                            <Icon pack={page.data.iconFamily || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <div class={parentDirectionClass + "bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="projects" class="helper-trigger hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="projects" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="bytesize" name="portfolio" class={size} />
                    <span>
                        {t('nav.projects')}
                    </span>
                </span>
            </label>
            <div class={parentDirectionClass + "bg-primary-600 w-full" + " helper-show" }>
                {projectList && projectList.filter(project => getLangFromId(project) == lang).map(project => (
                    <a href={"/" + project.slug} class={"btn variant-filled-secondary w-full rounded-none py-4 " + project.slug.split('/')[0]}>
                        <span class={directionClass}>
                            <Icon pack={project.data.iconFamily || "teenyicons"} name={project.data.icon || "anchor-solid"} class={size} />
                            { project.data?.shortTitle ?
                            <span>
                                {project.data.shortTitle}
                            </span>
                            :
                            <span>
                                {project.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>


    {pageList && pageList.filter(page => page.data.status == "published" && !page.data.category && getLangFromId(page) == lang).map(page => (
        <a href={"/" + page.slug} class={"btn variant-filled-primary w-full rounded-none py-4 " + page.slug.split('/')[0]}>
            <span class={directionClass}>
                <Icon pack={page.data.iconFamily || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
                { page.data?.shortTitle ?
                <span>
                    {page.data.shortTitle}
                </span>
                :
                <span>
                    {page.data.title}
                </span>
                }
            </span>
        </a>
    ))}
</div>

<style lang="scss" is:global>
    html.nl a.en,
    html.en a.nl {
        display: none;
    }

    .helper-trigger,
    .helper-show {
        display: none !important;
    }
    .helper-trigger[type="radio"]:checked {
        & + .dropdown {
            & .helper-show {
            display: flex !important;
            }
            & + .helper-enable {
            opacity: 0.5;
            }
        }
    }
</style>
