---
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations } from '~content/i18n/utils';
import { Icon } from 'astro-icon'
import LanguagePicker from '~components/ui/LanguagePicker.astro';

const pageList = await getCollection('pages');
const projectList = await getCollection('projects');
const {direction = "vertical", size = "h-8 w-8 p-1"} = Astro.props
const directionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex items-center"
const parentDirectionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex-flex-col items-center"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

function getLangFromId(page) {
    return page.slug.split('/')[0]
}

---

<div class={parentDirectionClass + " bg-primary-600 w-full"}>
    <div class={"flex flex-row justify-evenly items-center bg-primary-600 w-full"}>
        <div class="drop-shadow-lg hexagon hexagon-small"><div class="hexagon-in1"><div class="hexagon-in2">
                    </div></div></div>

        <LanguagePicker />
    </div>

    <a href={"/" + lang + "/newscasts"} class="btn variant-filled-primary w-full rounded-none py-4">
        <span class={directionClass}>
            <Icon pack="ph" name="newspaper-clipping-bold" class={size} />
            <span>
                {t('nav.linkcasts')}
            </span>
        </span>
    </a>

    <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="about-artkids" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="about-artkids" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="codicon" name="organization" class={size} />
                    <span>
                        {t('nav.about')}
                    </span>
                </span>
            </label>

            <div class={parentDirectionClass + " bg-primary-600 w-full helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "about artkids").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + page.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="organization" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">

            <label for="organization" class={" btn variant-filled-primary w-full rounded-none py-4 helper-enable"}>
                <span class={directionClass}>
                    <Icon pack="octicon" name="organization-16" class={size} />
                    <span>
                        {t('nav.organization')}
                    </span>
                </span>
            </label>

            <div class={parentDirectionClass + " bg-primary-600 w-full helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "organization").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + page.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size + " mr-2"} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="anbi" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">

            <label for="anbi" class={" btn variant-filled-primary w-full rounded-none py-4 helper-enable"}>
                <span class={directionClass}>
                    <Icon pack="fluent" name="building-retail-money-20-regular" class={size} />
                    <span>
                        {t('nav.anbi')}
                    </span>
                </span>
            </label>

            <div class={parentDirectionClass + " bg-primary-600 w-full helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "anbi").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + page.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size + " mr-2"} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>

    <!-- <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="funding" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="funding" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="la" name="donate" class={size} />
                    <span>
                        {t('nav.funding')}
                    </span>
                </span>
            </label>
            <div class={parentDirectionClass + " bg-primary-600 w-full" + " helper-show" }>
                {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "funding").map(page => (
                    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + page.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size + " mr-2"} />
                            { page.data?.shortTitle ?
                            <span>
                                {page.data.shortTitle}
                            </span>
                            :
                            <span>
                                {page.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div> -->

    <div class={parentDirectionClass + " bg-primary-600 w-full"}>
        <input type="radio" name="menu" id="projects" class="helper-trigger !hidden" />
        <div class="dropdown bg-primary-600 w-full">
            <label for="projects" class="btn variant-filled-primary w-full rounded-none py-4 helper-enable">
                <span class={directionClass}>
                    <Icon pack="bytesize" name="portfolio" class={size} />
                    <span>
                        {t('nav.projects')}
                    </span>
                </span>
            </label>
            <div class={parentDirectionClass + " bg-primary-600 w-full" + " helper-show" }>
                {projectList && projectList.filter(project => getLangFromId(project) == lang).map(project => (
                    <a href={"/" + project.slug.split('/')[0] + "/projects/" + project.slug.split('/')[1]} class={"btn variant-filled-secondary w-full rounded-none justify-start pl-2 " + project.slug.split('/')[0]}>
                        <span class="flex flex-row justify-start items-center text-md">
                            <Icon pack={project.data.pack || "teenyicons"} name={project.data.icon || "anchor-solid"} class={size + " mr-2"} />
                            { project.data?.shortTitle ?
                            <span>
                                {project.data.shortTitle}
                            </span>
                            :
                            <span>
                                {project.data.title}
                            </span>
                            }
                        </span>
                    </a>
                ))}
            </div>
        </div>
    </div>


    {pageList && pageList.filter(page => page.data.status == "published" && !page.data.category && getLangFromId(page) == lang).map(page => (
        <a href={"/" + page.slug} class={"btn variant-filled-primary w-full rounded-none py-4 " + page.slug.split('/')[0]}>
            <span class={directionClass}>
                <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
                { page.data?.shortTitle ?
                <span>
                    {page.data.shortTitle}
                </span>
                :
                <span>
                    {page.data.title}
                </span>
                }
            </span>
        </a>
    ))}
</div>

<style lang="scss" is:global>
    html.nl a.en,
    html.en a.nl {
        display: none;
    }

    .helper-trigger,
    .helper-show {
        transition: all 0.25s ease-in-out;
        height: 0 !important;
        display: flex;
        overflow: hidden !important;

        & > a {
            transition: all 0.25s ease-in-out;
            transform: translateX(-100%) !important;
        }
    }
    .helper-trigger[type="radio"]:checked {
        & + .dropdown {
            & .helper-show {
                height: auto !important;

                & > a {
                    transform: translateX(0) !important;
                }
            }
            & .helper-enable {
                filter: saturate(1.25);
                filter: brightness(1.5);
            }
        }
    }
</style>
