---
import '@skeletonlabs/skeleton/themes/theme-vintage.css';
import '@styles/theme.postcss';
import '@skeletonlabs/skeleton/styles/all.css'
import '@styles/app.postcss';

import { AppShell, AppBar, LightSwitch } from '@skeletonlabs/skeleton'
import { useUserAgent } from "astro-useragent";
import { getLangFromUrl } from '~content/i18n/utils';


import Fonts from '../components/head/Fonts.astro';
import Footer from '../components/Footer.astro';
import SEO from '../components/head/SEO.astro';
import seoSettings from '../content/settings/_seo.yml';
import siteSettings from '../content/settings/_settings.yml';

// import Search from '@components/ux/Search.svelte';
import PageTitle from '~components/ui/PageTitle.astro';
import NavSidebar from '~components/ui/NavSidebar.astro';

const lang = getLangFromUrl(Astro.url);

// const response = await fetch(Astro.url.origin + '/api/v1/pages.json');
// const searchData = await response.json();

export interface Props {
    title: string;
    seoTitle?: string;
    description: string;
    image?: string;
    imageAlt?: string;
}

// Conditional info
const uaString = Astro.request.headers.get("user-agent");

const { theme, mode } = siteSettings
const { fbappid } = seoSettings
const { title, seoTitle, description, image, imageAlt } = (Astro.props?.data || Astro.props)
---

<!DOCTYPE html>
<html class={mode + " " + lang } lang={lang}>
<head>
    <!-- Site Meta & SEO -->
    <SEO description={description} title={title} image={image} imageAlt={imageAlt} seoTitle={seoTitle} fbappid={fbappid} />
    <!-- Fonts -->
    <Fonts />
</head>
<body data-theme={theme} class="loaded ">
    <slot name="extendedHead" />

    <!-- Page Transition -->
    <!-- <PageTransition speed={500} color={"orange"} zIndex={99} /> -->
    <div style="display: contents" class="h-full overflow-hidden">

        <AppShell slotSidebarLeft="bg-primary-400 h-screen portrait:pb-24 portrait:absolute portrait:left-0 portrait:top-0 portrait:bottom-0 z-20">
            <svelte:fragment slot="pageHeader">
                <AppBar background="z-30">

                    <svelte:fragment slot="lead">
                    </svelte:fragment>
                    <PageTitle title={title} icon="newspaper-clipping-bold" pack="ph" />
                    <svelte:fragment slot="trail">
                    </svelte:fragment>
                </AppBar>
            </svelte:fragment>

            <!-- Sidebar -->
            <svelte:fragment slot="sidebarLeft">
            <NavSidebar />
            </svelte:fragment>


            <!-- Default Slot -->
            <slot />

            <!-- Page Footer -->
            <svelte:fragment slot="pageFooter">
                <footer class="m-8">
                    <Footer />
                </footer>
            </svelte:fragment>

            <!-- Site Footer -->
            <!-- <svelte:fragment slot="footer">
                <SocialNav />
            </svelte:fragment> -->
        </AppShell>
    </div>
</body>
</html>

<style is:global>
    /* We don't need checkbox to be displayed in order for it to work */
    .menuToggler {
        display: none;
    }

    /*  Displays menu when menuToggler is checked only on mobile/tablet */
    @media screen and (max-width: 1023px) {
        .menuToggler:checked ~ .navbar-menu {
            display: flex !important;
        }

        .menuToggler:checked ~ .navbar-menu .lightswitch{
            margin-bottom: 5rem;
        }

        /* We don't want menu to be displayed on mobile by default */
        .navbar-menu {
            display: none;
        }

    }

    .navbar-burger {
        position: fixed;
        top: unset !important;
    }

    @media screen and (min-width: 1024px) {
        .navbar-burger {
            display: none !important;
        }
    }

    [astro-icon] {
        min-width: 1rem;
    }
</style>